<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Monster Battle</title>
  <link rel="stylesheet" href="styles.css">
  <script src="vue.js"></script>
</head>
<body>
  <div id="app" class="game">
    <h1>MONSTER BATTLE</h1>

    <section class="scoreboard">
      <div v-for="character in characters" class="playerInfo">
        <h2>{{ character.name }}</h2>
        <img :src="character.imageSrc" alt="character image" />
        <div class="healthBar" :style="{width: character.maxHealth * 2.5 + 'px'}">
          <div class="remainingHealth" :style="{width: character.healthRemaining / character.maxHealth * 100 + '%'}"> </div>
        </div>
        {{ character.healthRemaining }} / {{ character.maxHealth }}
      </div>
    </section>
    <section class="bottom">    
      <section class="controls">
        <template v-if="!playing">
          <button @click="start">START</button>
        </template>
        <template v-else>
          <button @click="handleAttack">ATTACK</button>
          <button @click="handleSpAttack">SP. ATTACK</button>
          <button @click="handleHeal">HEAL</button>
          <button @click="surrender">SURRENDER</button>
        </template>
      </section>
      <section class="history">

      </section>
    </section>
  </div>
  <script src="app.js"></script>
</body>
</html>